*{
    padding:0;
    margin:0;
}
body {
    position: relative;
}
a {
    color: orange;
}
#about {
    left: -20px;
    background-color: orange;
    color: white !important;
}
#name {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
#desc {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .65em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;      
} 
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 96% }
}  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}
.btn {
    color: orange !important;
}
#comment {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:white;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}
#footer {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
}
#bio-text {
    font-family: 'Waiting for the Sunrise', cursive; 
    font-size:15px; 
    margin: 10px 50px; 
    letter-spacing: 4px;
    font-weight: bold; 
}
#navbar-example2 {
    height: 75px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
    transition:0.7s;
}
#home {
    opacity: 0.7;
    padding-top: 150px;
    padding-left: 60px;
    height: 100vh;
}
#bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#experience {
    height: 100vh;
    /* margin-top: 150px; */
}
#skills {
    height: 100vh;
}
#name {
    margin-top: 40px;
    font-size: 6rem;
}
#desc {
    font-size: 1rem;
}
#nav-list {
    top: 10px;
    left: 41%;
    position: absolute;
}
#gambar-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#deskripsi {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
#myImage {
    height: 250px;
    width: 250px;
    border-radius: 75%;
}
#comment-list {
    overflow-y: scroll;
    height: 100vh;
    margin-top: -200px;
}
/* responsive behaviour */
@media (max-width: 850px){
    #nav-list {
        top: 10px;
        left: 40%;
        position: absolute;
    }
    #name {
        font-size: 35px;
        margin-left : -45px;
    }
    #desc {
        position: absolute;
        font-size: 9px;
        left: -28px;
    }
    #desc {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
          
    }
    #experience-box {
        margin-top: 30px;
    }
    #skills {
        margin-top:30px;
    }
    #experience {
        margin-top: 30px;
    }
    #comment-list {
        margin-top: 0px;
    }
}
@media (max-width: 680px){
    #nav-list {
        top: 10px;
        left: 25%;
        position: absolute;
    }
    #name {
        font-size: 30px;
        margin-left : -45px;
    }
}
@media (max-width: 570px){
    #nav-list {
        top: 10px;
        left: 25%;
        position: absolute;
    }
    #skills {
        margin-top: 250px;
    }
    #experience {
        margin-top: 30px;
    }
    #comment-list {
        margin-top: -250px;
    }
}
@media (max-width: 500px){
    #nav-list {
        top: 10px;
        left: 18%;
        position: absolute;
    }
}
@media (max-width: 400px){
    #nav-list {
        top: 10px;
        left: 15%;
        position: absolute;
    }
    #skills {
        margin-top: 300px;
    }
    #experience {
        margin-top: 30px;
    }
    #comment-list {
        margin-top: -200px;
    }
  }
@media (max-width: 340px){
    #nav-list {
        top: 10px;
        left: 11%;
        position: absolute;
    }
    #skills {
        margin-top: 400px;
    }
    #experience {
        margin-top: 30px;
    }
    #comment-list {
        margin-top: -150px;
    }
}





