{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Anggardha</title>
    <link rel="shortcut icon" href= "{% static 'img/image.png' %}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- import stuff,cdn and import css -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" rel="stylesheet" type="text/css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    
  </head>
  <body data-spy="scroll" data-target="#navbar-example2">
      <nav id="navbar-example2" class="navbar navbar-light fixed-top">
          <ul class="nav nav-pills" role="tablist" id="nav-list">
          <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#skills">Skills</a>
          </li>
          </ul>
        </nav>

    {% block body %}
      
    {% endblock body %}

    
    {% block js %}
      
    {% endblock js %}
      
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="POST" class="comment" action="{% url 'home:comment' %}" onsubmit="return validateForm()">
            {% csrf_token %}  
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">What Do you think about my website?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <div class="modal-body">   
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Email:</label>
                  {{form.author}}
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Comment:</label>
                  {{form.comment}}
            </div>    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" onclick="comment()">Send Comment</button>
          </div>
          </div>
        </div>
        </form>
    </div>
    <nav class="navbar sticky-bottom navbar-light" id="footer">
        <div class="row" style="width:100%">
            <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p class="text-center"><a class="item" href="https://id.linkedin.com/in/anggardha-febriano-369672128">
                    <i class='fab fa-linkedin-in' style="color:#ffbb33;font-size: 24px"></i>
                </a>
                <a class="item" href="https://github.com/anggardhanoano">
                    <i class='fab fa-github' style="color:#ffbb33;font-size: 24px"></i>
                </a>
                <a class="item" href="mailto:anggardhanoano@gmail.com?Subject=Hello">
                    <i class="fas fa-envelope" style="color:#ffbb33;font-size: 24px"></i>
                </a></p>
            </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <p class="text-center" style="color:#ffbb33">Anggardha Febriano <i class="copyright icon"></i>2019</p>
      </div>
    </nav>

    <!-- floating button for comment modal -->
      <button type="button" class="btn btn-primary" id="comment" data-toggle="modal" data-target="#exampleModal">
          <i class="material-icons">comment</i>
        </button>
    
    <!-- js stuff -->
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    <script>

        // function for smooth navbar hide when scroll
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
            var currentScrollPos = window.pageYOffset;
              if (prevScrollpos > currentScrollPos) {
                    document.getElementById("navbar-example2").style.top = "0";
              } else {
                  document.getElementById("navbar-example2").style.top = "-50px";
              }
              prevScrollpos = currentScrollPos;
          }

        // function for validate the comment form
        function validateForm() {
            check = $("#author").val().trim().toLowerCase();
            console.log(check)
            look = check.search("@")    
            if (check.length <= 8) {
              alert("Please enter valid email");
              return false
            }else if ( look == -1) {
              alert("Your Email Is Not Valid");
              return false;
            }
          }            
</script>
  </body>
</html>


