{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block body %}
<!-- start modal for about -->
<div id="modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">About Me</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" id="bio">
          <img src="{% static 'img/angga2.png' %}" id="myImage">
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div id="bio-text" style="margin-top:10px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<!--end modal for about -->


<div data-spy="scroll" data-target="#navbar-example2" data-offset="0" id="content">  
  <!-- homepage stuff -->
    <div id="home" class="row">
      <div class="col">
      <h1 id="name" class="text-left">Hello, <br> my name is <span style="color:orange;font-weight: 800;">Anggardha</span></h1>
      <p id="desc">I'm a student in <span style="color:#ffdf0f;font-weight: 800;">Universitas Indonesia</span>
      Taking <span style="color:blue;font-weight: 800;">Computer</span> <span style="color:red;font-weight: 800;">Science</span> Degree</p>
      <br>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3 class="text-center" data-aos="zoom-in"><a class="btn btn-primary aniview"  data-toggle="modal" id="about" data-target="#modal" style="z-index:1000;">About Me</a></h3>
      </div>
    </div>
    <!-- homepage stuff -->

    <!-- education stuff in card box -->
    <div id="experience" class="row">
        <div class="container" style="margin-bottom:10px;">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" data-aos="flip-left">
          <div class="card">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
              <ul class="list-group">
                <a class="list-group-item">
                <i class="material-icons" style="color:green">check</i>
                <div class="bmd-list-group-col">
                <p class="list-group-item-heading">SDI Al-Fauzien</p>
                <p class="list-group-item-text">2006-2012</p>
                </div>
                </a>
                  
                <a class="list-group-item">
                <i class="material-icons" style="color:green">check</i>
                <div class="bmd-list-group-col">
                <p class="list-group-item-heading">SMPN 3 Depok</p>
                <p class="list-group-item-text">2012-2015</p>
                </div>
                </a>
                  
                <a class="list-group-item">
                <i class="material-icons" style="color:green">check</i>
                <div class="bmd-list-group-col">
                <p class="list-group-item-heading">SMAN 1 Depok</p>
                <p class="list-group-item-text">2015-2018</p>
                </div>
                </a>

                <a class="list-group-item">
                <i class="material-icons" style="color:orange">watch_later</i>
                <div class="bmd-list-group-col">
                <p class="list-group-item-heading">Universitas Indonesia</p>
                <p class="list-group-item-text">2018</p>
                </div>
                </a>
              </ul>
          </div>
          </div>
          </div>
          <!-- education stuff in card box -->

          <!-- experience stuff in cardh box -->
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card" id="experience-box" data-aos="flip-right">
          <div class="card-body">
            <h5 class="card-title">Experience</h5>
            <ul class="list-group">
              <a class="list-group-item">
              <div class="bmd-list-group-col">
              <p class="list-group-item-heading">Staff BEM Fasilkom Biro Perkembangan Teknologi Informasi</p>
              <p class="list-group-item-text">2019</p>                            
              </div>
              <img src="{% static 'img/bem.png' %}" style="height:30px;position: absolute;left: 80%;top: 15px;" >
              </a>
                                      
              <a class="list-group-item">                    
              <div class="bmd-list-group-col">
              <p class="list-group-item-heading">Under Construction Page @ uneev.id</p>
              <p class="list-group-item-text">2018</p>
              </div>
              <img src="{% static 'img/U.png' %}" style="height:30px;position: absolute;left: 80%;top: 15px;" >
              </a>
                                      
              <a class="list-group-item">
              <div class="bmd-list-group-col">
              <p class="list-group-item-heading">Main website uneev.id</p>
              <p class="list-group-item-text">On Progress</p>
              </div>
              <img src="{% static 'img/U.png' %}" style="height:30px;position: absolute;left: 80%;top: 15px;" >
              </a>                                        
            </ul>
        </div>
        </div>
        </div>
      </div>
      </div>
  </div>        
    <!-- experience stuff in card box -->


  <!-- skills stuff in table box -->
  <div id="skills" class="row" data-aos="zoom-in-down">
    <div class="container col-sm-12 col-md-12 col-lg-12 col-xl-12" id="skil">
      <table class="table table-hover">
      <thead>
        <tr style="background-color:orange">
          <th scope="col">Strong</th>
          <th scope="col">Experienced</th>
          <th scope="col">Familiar</th>
        </tr>
      </thead>
      <tbody>        
      <tr>
        <td>Python</td>
        <td>Javascript</td>
        <td>React Js</td>
      </tr>
      <tr>
        <td>Django</td>
        <td>Java</td>
        <td>PHP</td>
      </tr>
      <tr>
        <td>Html</td>
        <td>MySQL</td>
        <td>PostgreSQL</td>
      </tr>
      <tr>
        <td>CSS</td>
        <td>SemanticUI CSS</td>
        <td></td>
      </tr>
      <tr>
        <td>Bootsrap CSS</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Materialize CSS</td>
        <td></td>
        <td></td>
      </tr>  
      </tbody>
      </table>
    </div>
    </div>      
  </div>
  <!-- skills stuff in table box -->

  <!-- retrieve all comment in comment-list -->
  <div class="container" id="comment-list" data-aos="fade-up">
    <h1 class="text-center">Comment from my visitors</h1>
    <ul class="list-group">
      {% for c in comment %}
      <li class="list-group-item">
      <div class="bmd-list-group-col">
        <p class="list-group-item-heading">{{c.author}}</p>
        <p class="list-group-item-text">{{c.comment}}</p>
        <p class="list-group-item-text">{{c.date | timesince}} ago</p>
      </div>
      </li>
      {% empty %}
      <h4 class="text-center">No one has commented on this web yet</h4>
      {% endfor %}            
    </ul>
  </div>
  </div>
{% endblock body %}
    



{% block js %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script language="JavaScript" type="text/javascript">

    // initialise AOS js
    AOS.init(); 


    var aText = new Array(
        "Hello,my name is Anggardha Febriano, people usually call me Angga or Anggardha. I was born 25 February 2000 in Jogjakarta.I'm an optimistic person with a big dreams that i want to reach.I like sport very much, escpecially Futsal and Taekwondo. Thank You for Visiting my Website!"
    );
    var iSpeed = 100; // time delay of print out
    var iIndex = 0; // start printing array at this posision
    var iArrLength = aText[0].length; // the length of the text array
    var iScrollAt = 20; // start scrolling up at this many lines
    
    var iTextPos = 0; // initialise text position
    var sContents = ''; // initialise contents variable
    var iRow; // initialise current row
 
    function typewriter()
    {
      sContents =  ' ';
      iRow = Math.max(0, iIndex-iScrollAt);
      var destination = document.getElementById("bio-text");
      
      while ( iRow < iIndex ) {
        sContents += aText[iRow++] + '<br />';
      }
      destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
      if ( iTextPos++ == iArrLength ) {
        iTextPos = 0;
        iIndex++;
        if ( iIndex != aText.length ) {
        iArrLength = aText[iIndex].length;
        setTimeout("typewriter()", 500);
        }
      } else {
        setTimeout("typewriter()", iSpeed);
      }
    }
    typewriter();
</script>
{% endblock js %}
    